/* main rules */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}

body {
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  background-color: darkred;
  color: white;
  padding: 12px;
  text-align: center;
  margin: 12px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.grid>div {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

h2 {
  background-color: rgb(4, 104, 104);
  color: white;
  width: 80%;
  margin: auto;
  padding: 12px;
}

.human-box {
  display: flex;
  flex-direction: column;
}

.btns {
  padding: 12px 0;
}

.btns button {
  border: 1px solid #333;
  padding: 12px 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btns button:hover {
  background-color: #333;
  color: white;
}

.human-score {
  width: 50%;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 12px auto;
  padding: 12px;
}


.computer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer-choice,
.computer-score {
  width: 50%;
  height: 50px;
  padding: 12px;
  border: 1px solid black;
  margin: 12px auto;
  text-align: center;
}


.result {
  padding: 12px;
  border: 1px solid black;
  margin: 12px 0;
}

.result h2 {
  text-align: center;
}

.result p {
  text-align: center;
  padding: 16px;
  background-color: lightgreen;
  color: darkgreen;
  width: 80%;
  margin: 12px auto;
}

.note {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: orangered;
  color: white;
  padding: 18px;
  text-transform: capitalize;
}

ol {
  margin: 0 12px;
}