/* main rules */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}

h1 {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin: 16px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.grid>div {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.h-choice-btn {
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 0 4px;
  background-color: rgb(9, 53, 110);
  border: 1px solid rgb(9, 53, 110);
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;
}

.h-choice-btn:hover {
  background-color: white;
  color: rgb(9, 53, 110);
}


.human-score {
  width: 50%;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 12px 0;
}

.c-choice,
.c-score {
  width: 50%;
  height: 50px;
  margin: 12px 0;
  border: 1px solid black;
}

.result {
  width: 100%;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  margin: 12px 0;
}